<h1>A Neural Model Approach On Titanic Dataset</h1>

<h3>Dependencies</h3>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import sys
sys.path

['',
 '/Library/Frameworks/Python.framework/Versions/3.6/lib/python36.zip',
 '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6',
 '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/lib-dynload',
 '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages',
 '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/extensions',
 '/Users/xristaggelosvasilopoulos/.ipython']

<h3>Load The Dataset</h3>

In [2]:
df = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

<h3>Total Training Data Instances</h3>

In [3]:
df.drop(['Name','PassengerId'],1, inplace=True)
test.drop(['Name','PassengerId'],1, inplace=True)

<h1>Convert the categorical Values Into Numerical</h1>

<h3>Sex to Numerical Values</h3>

In [4]:
df['Sex'].replace(to_replace='male',value=0,inplace=True)
df['Sex'].replace(to_replace='female',value=1,inplace=True)

test['Sex'].replace(to_replace='male',value=0,inplace=True)
test['Sex'].replace(to_replace='female',value=1,inplace=True)

<h3>Port of Embarcation to Numeric Value</h3>

In [5]:
port_of_embarcation = list(set(df['Embarked']))+list(set(test['Embarked']))
Cabins = list(set(df['Cabin']))+list(set(test['Cabin']))
Ticket = list(set(df['Ticket']))+list(set(test['Ticket']))

In [6]:
for i in range(0,len(port_of_embarcation)):
    
    df['Embarked'].replace(to_replace=port_of_embarcation[i],value=i+1,inplace=True)
    test['Embarked'].replace(to_replace=port_of_embarcation[i],value=i+1,inplace=True)
    
for i in range(0,len(Cabins)):
    
    df['Cabin'].replace(to_replace=Cabins[i],value=i+1,inplace=True)
    test['Cabin'].replace(to_replace=Cabins[i],value=i+1,inplace=True)
    
for i in range(0,len(Ticket)):
    
    df['Ticket'].replace(to_replace=Ticket[i],value=i+1,inplace=True)
    test['Ticket'].replace(to_replace=Ticket[i],value=i+1,inplace=True)

df.fillna(value=0,inplace=True)
test.fillna(value=0,inplace=True)

<h1>Normalize the Data</h1>

In [7]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0         0       3    0  22.0      1      0     426   7.2500      1         1
1         1       1    1  38.0      1      0      26  71.2833     57         4
2         1       3    1  26.0      0      0     278   7.9250      1         1
3         1       1    1  35.0      1      0     357  53.1000     49         1
4         0       3    0  35.0      0      0      57   8.0500      1         1

In [8]:
test.head()

   Pclass  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0       3    0  34.5      0      0     862   7.8292      1         2
1       3    1  47.0      1      0     682   7.0000      1         1
2       2    0  62.0      0      0     854   9.6875      1         2
3       3    0  27.0      0      0     962   8.6625      1         1
4       3    1  22.0      1      1     632  12.2875      1         1

<h3>Scaler Initialization</h3>

In [9]:
sc = MinMaxScaler()

<h3>Split the dataset in train and validation</h3>

In [10]:
y_train = df['Survived']
x_train = df.drop(['Survived'],axis=1)

In [11]:
x_train.head()

   Pclass  Sex   Age  SibSp  Parch  Ticket     Fare  Cabin  Embarked
0       3    0  22.0      1      0     426   7.2500      1         1
1       1    1  38.0      1      0      26  71.2833     57         4
2       3    1  26.0      0      0     278   7.9250      1         1
3       1    1  35.0      1      0     357  53.1000     49         1
4       3    0  35.0      0      0      57   8.0500      1         1

In [12]:
x_train = np.array(x_train)
x_train = sc.fit_transform(x_train)

#val = np.array(val)
#val = sc.transform(val)

test = np.array(test)
test = sc.transform(test)

<h3>Split the data and labels</h3>

<h1>Neural Network Model</h1>

<h3>Dependencies</h3>

In [96]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint
from keras.callbacks import ReduceLROnPlateau

<h3>Neural Network Structure</h3>

<h3>Deep Neural Network Initialization</h3>

In [97]:
classifier = Sequential()

<h3>Input Layer of the Deep Neural Netowrk</h3>

In [98]:
classifier.add(Dense(units = 80, kernel_initializer = 'uniform', activation = 'relu', input_dim = 9,bias_initializer='zeros'))
classifier.add(Dropout(0.2))

<h3>Hidden Layers of the Deep Neural Network with Dropout</h3>

In [99]:
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu',bias_initializer='zeros'))
classifier.add(Dropout(0.2))
classifier.add(Dense(units = 200, kernel_initializer = 'uniform', activation = 'relu',bias_initializer='zeros'))
classifier.add(Dropout(0.2))
classifier.add(Dense(units = 100, kernel_initializer = 'uniform', activation = 'relu',bias_initializer='zeros'))

<h3>Output Layer of the Deep Neural Network</h3>

In [100]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid',bias_initializer='zeros'))

<h3>Optimizers</h3>

In [101]:
adam = keras.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
#nadam = keras.optimizers.Nadam(lr=0.002, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.002)

<h3>Deep Neural Network Model Compile</h3>

In [102]:
classifier.compile(optimizer = adam, loss = 'binary_crossentropy', metrics = ['accuracy'])

<h3>Model Checkpoint Callback in order to save the best model based on val_acc</h3>

In [103]:
filepath = 'weights_best.hdf5'
checkpoint = ModelCheckpoint(filepath=filepath, monitor='val_acc', verbose=1, save_best_only=True)

<h3>Fitted the model to data and had a result of 84% on val_acc</h3>

In [104]:
classifier.fit(x_train,y_train, epochs = 10,batch_size=5, callbacks=[checkpoint],verbose=0,validation_split=0.5)

Epoch 00001: val_acc improved from -inf to 0.74215, saving model to weights_best.hdf5

Epoch 00002: val_acc improved from 0.74215 to 0.77354, saving model to weights_best.hdf5

Epoch 00003: val_acc did not improve from 0.77354

Epoch 00004: val_acc improved from 0.77354 to 0.79821, saving model to weights_best.hdf5

Epoch 00005: val_acc did not improve from 0.79821

Epoch 00006: val_acc did not improve from 0.79821

Epoch 00007: val_acc did not improve from 0.79821

Epoch 00008: val_acc did not improve from 0.79821

Epoch 00009: val_acc did not improve from 0.79821

Epoch 00010: val_acc improved from 0.79821 to 0.81390, saving model to weights_best.hdf5

<h3>Use the Model on the Kaggle data test set</h3>

<h3>If we want to load the Neural Model</h3>

In [89]:
from keras.models import load_model

best_model = load_model('weights_best.hdf5')

In [90]:
prediction = best_model.predict(test)
prediction = np.argmax(prediction,axis=1)

<h3>Fill the predictions with 0 and 1</h3>

In [91]:
for i in range(0,len(prediction)):
    
    if prediction[i] >= 0.8:
        prediction[i] = 1
        
    else:
        prediction[i] = 0

<h3>Create the Final Format</h3>

In [92]:
submit = np.array(prediction)
submission = np.zeros((418,2),dtype=np.int64)

<h3>Fill the array with the predicted values</h3>

In [93]:
for i in range(0,418):
    
    submission[i][1] = submit[i]

<h3>Fill the PassengerId values</h3>

In [94]:
for i in range(0,418):
    
    submission[i][0] = 892+i

<h3>Save the data in order to perform the submission to Kaggle</h3>

In [95]:
np.savetxt("submission.csv", submission, delimiter = ',', fmt = '%i', header='PassengerId,Survived', comments='')